@import '@styles/variables.scss';

.rolesHeader {
  font-size: 24px;
  color: $text-color;
  margin: 10px;
}

.rolesInfo {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}