@import '@styles/variables.scss';

.rolesContainer {
  width: 80%;
  background: $page-background;
  border-radius: 5px 5px 0 0;
  height: 100vh;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.rolesHeader {
  font-size: 24px;
  color: $text-color;
  margin: 10px;
}

.rolesInfo {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}