.table {
  width: 80%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border: 5px solid #fff;
  border-bottom-width: 3px;
  border-collapse: collapse;
  outline: 3px solid #ffd300;
  font-size: 15px;
  background: #bfafe3;
  margin: 10px;
}
.table th {
  font-weight: bold;
  padding: 7px;
  background: #ffd300;
  border: none;
  text-align: left;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #ffd300;
}

.table td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 15px;
}

.table tbody tr:nth-child(even){
  background: rgba(95, 16, 110, 0.3);
}