@import '@styles/variables.scss';

.alertContainer {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $alert-background;
  border: 1px solid $alert-border;
  border-radius: 15px;
  color: $aler-textr-color;
  margin: 5px;
  cursor: pointer;
}

.alertContent {
  padding: 10px;
}

.closeButton {
  padding: 10px;
}