.textarea {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: white;
  height: 300px;
  border-radius: 25px;
  padding: 0 15px 0 30px;
  outline: none;
  border: none;
  overflow: auto;
}