.authForm {
    background: #F1F2F4;
    border-bottom: 2px solid #C5C5C8;
    border-radius: 5px;
    text-align: center;
    color: #36383C;
    text-shadow: 0 1px 0 #FFF;
    max-width: 300px;
    margin: 50% auto;
    padding: 15px 40px 20px 40px;
    box-shadow: 0 0 3px #000;
}

.authForm:before{
    content:"";
    display: block;
    width: 70px;
    height: 4px;
    background: #4E535B;
    border-radius: 5px;
    border-bottom: 1px solid #FFFFFF;
    border-top: 2px solid #CBCBCD;
    margin: 0 auto;
}

h1{
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.input {
    text-align: right;
    padding-left: 5px;
    background: #E5E7E9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 3px #65686E;
    border-bottom: 1px solid #FFF;
}

input{
    width: 260px;
    background: transparent;
    border: 0;
    line-height: 3.6em;
    box-sizing: border-box;
    color: #71747A;
    font-family:'Open Sans', Arial, sans-serif;
    text-shadow: 0 1px 0 #FFF;
}

input:focus{
    outline: none;
}

.inputBLock{
    border-bottom: 1px solid #BDBFC2;
    border-top: 1px solid #FFFFFF;
}

button{
    margin-top: 20px;
    display: block;
    width: 100%;
    line-height: 2em;
    background: rgba(114,212,202,1);
    border-radius: 5px;
    border:0;
    cursor: pointer;
    border-top: 1px solid #B2ECE6;
    box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
    color: #FFFFFF;
    font-size: 1.5em;
    text-shadow: 0 1px 2px #21756A;
}

button:hover{
    background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);
}

button:active{
    box-shadow: inset 0 0 5px #000;
    background: linear-gradient(to bottom, rgba(57,175,154,1) 0%,rgba(107,198,186,1) 100%);
}