$project-background: #9053c7;
$project-background-linear: linear-gradient(-135deg, #c850c0, #4158d0);
$page-background: rgba(218, 183, 233, 0.34);
$navbar-background: rgba(181, 213, 224, 0.76);
$alert-warning-background: #f8d7da;
$alert-warning-border: #c39397;
$aler-warning-text-color: #842029;
$alert-success-background: #d4edda;
$alert-success-border: #575f59;
$alert-success-text-color: #155724;