$project-background-linear: white;
$page-background: rgba(69, 111, 206, 0.26);
$navbar-background: rgba(31, 100, 222, 0.46);
$alert-warning-background: #f8d7da;
$alert-warning-border: #c39397;
$alert-warning-text-color: #842029;
$alert-success-background: #d4edda;
$alert-success-border: #575f59;
$alert-success-text-color: #155724;
$text-color: #333333;