$project-background: #9053c7;
$project-background-linear: linear-gradient(-135deg, #c850c0, #4158d0);
$add-user-form-background: rgba(218, 183, 233, 0.34);
$navbar-background: rgba(181, 213, 224, 0.76);