@import '@styles/variables.scss';

.container {
  width: 80%;
  background: $page-background;
  border-radius: 5px 5px 0 0;
  height: auto;
  min-height: 95vh;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}